* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    min-height: 100%;
    background: linear-gradient(180deg, #000000, #1a0000, #330000, #660000);
    background-size: 100% 100%;
    background-attachment: fixed;
}

body {
    background: transparent;
}

/* NAVBAR */

.logo img {
    display: block;
    object-fit: contain;
}

.titulo {
    color: #fff;
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bold;
    border-left: 5px solid #e60000;
    padding-left: 10px;
}

nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

nav ul {
    gap: 30px;
    display: flex;
    list-style: none;
    justify-content: end;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #000;
    background: #e60000;
    border-radius: 30px;
}

/* ESTADIO */
.estadio-section {
    width: 90%;
    margin: 60px auto;
    text-align: center;
    color: #fff;
}

.estadio-texto {
    max-width: 900px;
    margin: 20px auto 40px;
    font-size: 18px;
    line-height: 1.6;
}

.carrossel-container {
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel img {
    width: 100%;
    border-radius: 15px;
    flex-shrink: 0;
    box-shadow: 0 0 10px #000;
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #00000080;
    color: #fff;
    border: none;
    padding: 12px 18px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-prev:hover,
.btn-next:hover {
    background: #e60000;
}

.btn-prev {
    left: 10px;
}

.btn-next {
    right: 10px;
}

/* MASCOTE */
.mascote-section {
    width: 80%;
    margin: 60px auto;
    background: rgba(0, 0, 0, 0.45);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 12px #ff000040;
    backdrop-filter: blur(3px);
    color: white;
}

.mascote-section h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
    text-shadow: 2px 2px 5px black;
}

.mascote-box {
    display: flex;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}

.mascote-foto {
    width: 280px;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 0 10px #ff000050;
    transition: 0.3s;
}

.mascote-foto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 18px #ff000080;
}

.mascote-info {
    max-width: 600px;
    font-size: 18px;
    color: #ddd;
    text-align: justify;
}

.mascote-info h3 {
    font-size: 26px;
    margin-bottom: 12px;
    text-shadow: 2px 2px 5px black;
}

/* TITULOS DO VASCO */

.trofeus {
    margin: 60px auto;
    width: 80%;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ff000040;
}

.trofeus h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

.trofeus ul {
    list-style: none;
    padding: 0;
}

.trofeus ul li {
    color: white;
    background: #1f1f1f;
    margin: 8px 0;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}

/* IDOLOS DO VASCO */

.idolos-container {
    text-align: center;
    margin-top: 60px;
    padding: 20px;
}

.idolos-container h2 {
    font-size: 32px;
    margin-bottom: 25px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #1a1a1a;
    width: 260px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ff000040;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 18px #ff000080;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card h3 {
    color: white;
    margin-bottom: 8px;
}

.card p {
    color: rgb(200, 200, 200);
    font-size: 15px;
}

/* HISTORIA DO VASCO */

.historia-vasco {
    width: 80%;
    margin: 60px auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.4);

    border-radius: 15px;
    box-shadow: 0 0 12px #ff000040;
    backdrop-filter: blur(3px);
    color: white;
}

.historia-vasco h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px black;
}

.historia-vasco p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
    color: #ddd;
}

/* TIMELINE */
.timeline-section {
    width: 80%;
    margin: 40px auto;
    text-align: center;
    color: #fff;
}

.btn-timeline {
    cursor: pointer;
    background: #e60000;
    display: inline-block;
    padding: 10px 22px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.btn-timeline:hover {
    background: #ff1a1a;
    transform: scale(1.03);
}

.timeline {
    background: rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ff000050;
    backdrop-filter: blur(3px);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);

    transition:
        max-height 0.6s ease,
        opacity 0.6s ease,
        transform 0.6s ease;
}

.timeline.aberto {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
}

.timeline ul {
    list-style: none;
    padding: 0;
}

.timeline li {
    margin: 10px 0;
    font-size: 18px;
    border-left: 4px solid #e60000;
    padding-left: 10px;
    text-align: left;
}

/* LOJA */

.loja-banner {
    text-align: center;
    background: linear-gradient(90deg, #000, #111, #000);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 12px #ff000040;
    margin-bottom: 40px;
    color: #fff;
}

.loja-banner h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.produtos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 80%;
    margin: auto;
}

.produto-card {
    background: rgba(0, 0, 0, 0.55);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px #ff000050;
    backdrop-filter: blur(4px);
    transition: 0.3s ease-in-out;
}

.produto-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff000090;
}

.produto-card img {
    width: 180px;
    height: auto;
    margin-bottom: 10px;
}

.produto-card h3 {
    color: #fff;
    margin-bottom: 8px;
}

.preco {
    color: #ff4040;
    font-size: 20px;
    font-weight: bold;
}

.btn-carrinho {
    margin-top: 10px;
    background: #e60000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-carrinho:hover {
    background: #ff1a1a;
    transform: scale(1.1);
}

/* MAIOR DE TODOS */

.socio-section {
    padding: 40px 20px;
    margin-top: 40px;
    background: #f3f3f3;
    border-radius: 20px;
}

.socio-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 30px;
}

.socio-homenagem {
    width: 90%;
    margin: 60px auto;
    text-align: center;
    color: #fff;
}

.socio-homenagem h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.socio-card {
    background: #ffffff;
    color: #000;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 900px;
    margin: auto;
    box-shadow: 0 0 20px #00000050;
}

.socio-foto {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #000;
}

.socio-info {
    text-align: left;
}

.socio-info h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.socio-info p {
    font-size: 1.1rem;
}

.socio-info .frase {
    font-style: italic;
    margin-top: 10px;
    color: #444;
}

/* RODAPÉ */

footer {
    margin-top: 40px;
    background: black;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #ffffff22;
}

footer p {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
}