* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    display: block;
    object-fit: contain;
}

.titulo {
    color: #fff;
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bold;
    border-left: 5px solid #e60000;
    padding-left: 10px;
}

nav {
    width: 100%;
    background-color: #000;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

nav ul {
    gap: 30px;
    display: flex;
    list-style: none;
    justify-content: end;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #000;
    background: #e60000;
    border-radius: 30px;
}

.Vai {
    display: inline-block;
    background-color: #0a410a;
    justify-content: center;
    align-items: center;
}

#toggle-hino {
    color: #fff;
    background-color: #0a410a;
    border-left: 15px solid #000;
    padding: 20px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

#toggle-hino:hover {
    background-color: #0c550c;
}

.hino-do-vasco {
    color: #fff;
    display: flex;
    background-color: #0a410a;
    white-space: pre-line;
    text-align: left;
    line-height: 1.8;
    font-style: italic;
    font-size: 18px;
    border-left: 15px solid #000;
    padding: 20px;
    width: fit-content;
}

#caixa-hino {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}

#caixa-hino.aberto {
    max-height: 1000px;
}